body {
    margin: 0;
}


.home{
    height: 160vh;
    position: relative;
}

.home-content{
    height: 90vh;
    width: 100%;
    background: linear-gradient(135deg, #000,blue) ;
    display: flex;
    padding-top: 120px;
    display: flex;
    justify-content: space-evenly;

}

.left, .right, .mid{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.mid{
    width: 40%;
    color: #fff;
    gap: 30px;
}

.mid button{
    height: 40px;
    width: 150px;
    margin-right: 50px;
    color: blue;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;

}

.mid button:nth-child(2){
    background: transparent;
    border: 1px solid #fff;
    color: #fff
}

.left, .right{
    width: 20%;
}